/* Estilos Generales */
body, html {
  margin: 8vh auto;
  padding: 0;
  font-family: 'Arial', sans-serif;
  background-color: #e8eaf6;
  color: #273c75;
}

h1, h2 {
  color: #192a56;
  text-align: center;
}

/* Estilo del contenedor principal para login y admin */
.login-container, .admin-container {
  max-width: 960px;
  margin: 2rem auto;
  padding: 2rem;
  background-color: #ffffff;
  box-shadow: 0 8px 16px rgba(0,0,0,0.15);
  border-radius: 8px;
}

/* Formularios generales */
form {
  display: flex;
  flex-direction: column;
  padding: 2.5rem;
}

input[type='text'], input[type='password'], input[type='number'], input[type='email'] {
  padding: 12px;
  margin-bottom: 20px;
  border: 2px solid #bdc3c7;
  border-radius: 4px;
  font-size: 16px;
}

.button, button, a.button {
  flex: 1;
  min-width: 150px;
  margin: 0 10px;
  padding: 12px 24px;
  font-size: 16px;
  text-align: center;
  background-color: #273c75;
  color: #ffffff;
  border: none;
  border-radius: 20px;
  cursor: pointer;
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: background-color 0.3s ease;
}

.button:hover, button:hover, a.button:hover {
  background-color: #192a56;
}

.buttonCrud {
  display: flex;
  align-items: center;
  width: 100%;
  margin-bottom: 20px;

}

.buttonCrud button, .buttonCrud a.button {
  flex: 1;
  min-width: 150px;
  text-align: center;
  margin: 0 10px;
}

.buttonCrud a:first-child, .buttonCrud button:first-child {
  margin-left: 0;
}

.buttonCrud a:last-child, .buttonCrud button:last-child {
  margin-right: 0;
}

#contentForm, #clientForm {
  margin-bottom: 20px;
}

/* Estilos para la navegación de pestañas */
.nav button {
  padding: 10px 20px;
  background-color: #f8f9fa;
  color: #273c75;
  border: 2px solid #dcdde1;
  margin: 10px;
  font-size: 20px;
  width: 100%;
}

.nav button.active, .nav button:hover {
  background-color: #273c75;
  color: white;
  border-color: #273c75;
}

/* Estilos de las pestañas de contenido */
.tabcontent {
  padding: 20px;
  border: 2px solid #bdc3c7;
}

th, td {
  text-align: left;
  padding: 8px;
  border-bottom: 2px solid #bdc3c7; /* Línea más visible */
}

/* Media Queries para Responsividad */
@media (max-width: 768px) {
  .login-container, .admin-container {
    margin: 1rem;
    padding: 1rem;
  }

  .nav button {
    width: 100%;
    margin-bottom: 5px;
  }
}

@media (max-width: 1200px) {
  .nav button {
    font-size: 16px;
  }
}
